.titleCineasta{
    color: white;
    font-family: LeagueSpartan;
    font-size: 3.2em;
}

.fullTitle {
    text-align: center;
    margin-top: -50px;
} 


.allTitle a:hover {
}

.subtitle{
    color: white;
    font-family: LeagueSpartan;
    font-size: 1.9em;
}

@font-face {
    font-family: LeagueSpartan;
    src: url(LeagueSpartan-Bold.otf);
}

.text-button  {
   margin-top: 9vh;
   text-align: center;
   opacity:1;
}

.iconeBoots .text-button:hover  {
    margin-top: 9vh;
    text-align: center;
    opacity:1;
}

.icones{
    width: 7vh;
    margin-top: 3vh;
    position: relative; 
    z-index: 1;
    
}

.icones:hover {
    transition: 0.6s;
    transform: rotate(360deg);
}

.icones:active {
    transform: scale(2);
}

.iconeBoots {
    display: flex;
    justify-content: space-between;
    margin-top:1vh;

}

.title {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.title a:hover {
    text-decoration: underline;
}


/*selection section */

.selected{
    border-bottom: 3px solid white;
}

/**/

@media (max-width:576px) {
   
    .icones {
        width: 10vw;
        margin-top: 20px; 
    }

    .iconeBoots {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        width: 500px;
    }
    .titleCineasta {
        font-size: 2.4em !important;

    }

    .subtitle {
        font-size: 1.0em !important;    
    }

    .fullTitle {
        margin-top: 3vh;
    }

    .title {
        width: 100%;
    }

}

@media (max-width:990px) {
   
    .icones {
        width: 7vw;
        margin-top: 20px; 
    }
    
    .iconeBoots {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
    }
    .titleCineasta {
        font-size: 3em;
    }
    
    .subtitle {
        font-size: 1.5em;    
    }
    
    .fullTitle {
        margin-top: 3vh;
    }

    .title {
        width: 100%;
    }
    
}
    