.posterCard {
    border-radius: 10px 0 0 10px;
    width: 250px;
    margin-left: -15px; /*supprimer puce*/
    mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)); /*mettre bottom avec jquerry*/
}

.pouet55 {
    text-align: left;
}

.textCard {
    margin: 15px 4px 0 105px;
}

.pouet333 {
    margin-right: auto;
    margin-left: auto;
}

.englobeCard {
    margin-top: 47px;
    margin-bottom: 20px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    background: black;
    color: white;
    width: 100%;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
}

.pouet333 {
    width: 50% /*jquery*/
}


.overView, .aveRage {
    font-family: 'Montserrat';
    font-size: 0.9em;
}

.pouet555{
}

.text-left {
    font-family: 'Montserrat';
    font-size: 0.9em;
}

.sizeletter {
    font-weight: bolder;
    font-size: 1.4em;
    text-transform: lowercase;
    font-family: 'LeagueSpartan';
    text-align: center;
}

 @font-face {
     font-family: 'LeagueSpartan';
     src: url('../shared/header/LeagueSpartan-Bold.otf');
 }
@font-face {
    font-family: 'Heebo', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat';
    @import url('https://fonts.googleapis.com/css?family=Heebo|Roboto|Montserrat');
 }
