.searchBar {
    width: 40%;
    outline-width: 0;
    padding: 10px;
    margin-top: 30px;
    border-radius: 25px;
    border: 8px solid #888888;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 25px -2px rgba(176,176,176,1);
    -moz-box-shadow: 0px 0px 25px -2px rgba(176,176,176,1);
    box-shadow: 0px 0px 25px -2px rgba(176,176,176,1);
    transition: 0.5s;
}

.alignInfoMovie {
    display: flex;
    vertical-align: baseline;
}

input::placeholder {
    font-style: italic;
}

input:focus {
    transform: scale(1.3);
    -webkit-transition: all 0.4s ease-out;
}

.testBack {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 45vh;
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;

}

.imgSearchBar {
    border: 4px solid transparent;
    border-radius: 10px;
    width: 60px;  
}

.listSearchBar {
    background: whitesmoke;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
    border-radius: 10px;
    list-style: none;
    margin: 15px 0px 0px -30px;
}

@media (max-width:990px) {
    .searchBar{
        width: 65%;
        border: 5px solid #888888;
    }
    
    input:focus {
        transform: scale(1.2);
    }

    .testBack {
        width: 63%;
    }
    
    .listSearchBar {
        margin: 15px 0px 0px -38px;
    }
}

@media (max-width:576px) {
    .searchBar{
        width: 75%;
        border: 4px solid #888888;
    }
    
    .testBack {
        width: 74%;
    }

    .listSearchBar {
        margin: 15px 0px 0px -38px;
    }
}

.movieSearchBar  {
    margin: 5px 0 0 5px;
    text-decoration: none;
    font-size :0.9em;
    color: black;
     font-family: 'Montserrat';
}

@font-face {
    font-family: 'Heebo', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat';
    @import url('https://fonts.googleapis.com/css?family=Heebo|Roboto|Montserrat');
 }