footer{
    color: #888888;
    font-size: 0.8em;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    
}

.lienFooter{
    text-decoration:none; 
    color: #888888;
    
}

.lienFooter:hover{
    color: #888888;
}