.titleCineasta{
    color: white;
    font-family: LeagueSpartan;
    font-size: 3.2em;
}


.fullTitle {
    text-align: center;
    margin-top: -100px;;
}

.pouet44 {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0; 
    margin-left: 0; 
}

.subtitle{
    color: white;
    font-family: LeagueSpartan;
    font-size: 2em;
    font-weight: bold;
}

@font-face {
    font-family: LeagueSpartan;
    src: url(LeagueSpartan-Bold.otf);
}

.icones{
    width: 50px;
    margin: 20px;
    position: relative;
    z-index: 1;
}

.icones:hover {
    transition: 0.6s;
    transform: rotate(360deg);
}

.icones:active {
    transform: scale(2);
}

.iconeBoots {
    margin: 20px;
}